In [1]:
import numpy as np
import pandas as pd

In [14]:
df = pd.read_pickle('game_log.pkl')
df

,Turn,Actions,Player,Action,Score,Simulations
0,1,"[[0, 0, 0], [0, 0, 1], [0, 0, 2], [0, 1, 0], [...",1,"[1, 1, 1]",0,5001
1,2,"[[0, 0, 0], [0, 0, 1], [0, 0, 2], [0, 1, 0], [...",2,"[2, 0, 0]",0,4501
2,3,"[[0, 0, 0], [0, 0, 1], [0, 0, 2], [0, 1, 0], [...",3,"[0, 2, 0]",0,4051
3,4,"[[0, 0, 0], [0, 0, 1], [0, 0, 2], [0, 1, 0], [...",4,"[2, 1, 2]",0,3646
4,5,"[[0, 0, 0], [0, 0, 1], [0, 0, 2], [0, 1, 0], [...",1,"[2, 2, 0]",0,3282
5,6,"[[0, 0, 0], [0, 0, 1], [0, 0, 2], [0, 1, 0], [...",2,"[1, 0, 1]",0,2954
6,7,"[[0, 0, 0], [0, 0, 1], [0, 0, 2], [0, 1, 0], [...",3,"[0, 0, 2]",0,2659
7,8,"[[0, 0, 0], [0, 0, 1], [0, 1, 0], [0, 1, 1], [...",4,"[2, 2, 2]",0,2394
8,9,"[[0, 0, 0], [0, 0, 1], [0, 1, 0], [0, 1, 1], [...",1,"[2, 0, 2]",0,2155
9,10,"[[0, 0, 0], [0, 0, 1], [0, 1, 0], [0, 1, 1], [...",2,"[0, 1, 1]",0,1940
10,11,"[[0, 0, 0], [0, 0, 1], [0, 1, 0], [0, 1, 2], [...",3,"[2, 1, 1]",0,1746
11,12,"[[0, 0, 0], [0, 0, 1], [0, 1, 0], [0, 1, 2], [...",4,"[0, 2, 2]",0,1572
12,13,"[[0, 0, 0], [0, 0, 1], [0, 1, 0], [0, 1, 2], [...",1,"[1, 2, 2]",0,1415
13,14,"[[0, 0, 0], [0, 0, 1], [0, 1, 0], [0, 1, 2], [...",2,"[2, 0, 1]",0,1274
14,15,"[[0, 0, 0], [0, 0, 1], [0, 1, 0], [0, 1, 2], [...",3,"[1, 0, 0]",0,1147
15,16,"[[0, 0, 0], [0, 0, 1], [0, 1, 0], [0, 1, 2], [...",4,"[1, 0, 2]",0,1033
16,17,"[[0, 0, 0], [0, 0, 1], [0, 1, 0], [0, 1, 2], [...",1,"[0, 0, 1]",0,930
17,18,"[[0, 0, 0], [0, 1, 0], [0, 1, 2], [0, 2, 1], [...",2,"[2, 2, 1]",0,837
18,19,"[[0, 0, 0], [0, 1, 0], [0, 1, 2], [0, 2, 1], [...",3,"[1, 2, 1]",0,754
19,20,"[[0, 0, 0], [0, 1, 0], [0, 1, 2], [0, 2, 1], [...",4,"[0, 0, 0]",0,679
20,21,"[[0, 1, 0], [0, 1, 2], [0, 2, 1], [1, 1, 0], [...",1,"[0, 1, 0]",0,612
21,22,"[[0, 1, 2], [0, 2, 1], [1, 1, 0], [1, 1, 2], [...",2,"[1, 1, 0]",0,551
22,23,"[[0, 1, 2], [0, 2, 1], [1, 1, 2], [1, 2, 0], [...",3,"[1, 2, 0]",0,496
23,24,"[[0, 1, 2], [0, 2, 1], [1, 1, 2], [2, 1, 0]]",4,"[0, 1, 2]",0,447
24,25,"[[0, 2, 1], [1, 1, 2], [2, 1, 0]]",1,"[1, 1, 2]",0,403
25,26,"[[0, 2, 1]]",2,"[0, 2, 1]",0,363
26,27,"[[2, 1, 0]]",3,"[2, 1, 0]",0,327